[submodule "codex"]
	path = codex
	url = https://github.com/openai/codex.git
[submodule "intellij-sdk-docs"]
	path = intellij-sdk-docs
	url = https://github.com/JetBrains/intellij-sdk-docs
[submodule "intellij-community"]
	path = intellij-community
	url = https://github.com/JetBrains/intellij-community.git
